.product
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    
}
img
{
    height: 80px;
}
.card
{
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 5px;
}

    .btn {
        border: none;
        outline: none;
        background: #764abc;
        padding: 5px 10px;
        color: #fff;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    
    .btn:hover {
        background: #513282;
    }
