 
 body{
    background-color:skyblue;
 }
 .Main
 {
    background-color: rgb(125, 150, 59);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    position: sticky;
    top: 50%;
    left:45%;
    transform: translate(-25%, 6%);
    width: 500PX;
    height: 500px;
    border: 2px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);


 }
 .Header
{
    text-align: center;
    position:sticky;
    top: 12%;
    left: 48%;
    background-color: aquamarine;
    border: 2px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
width: 200px;
border-radius: 10px;

}
